<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ARCHIVEProQuote_IdeaConnectionString"
            connectionString="Data Source=PROQUOTE-2017\SQLEXPRESS;Initial Catalog=ARCHIVEProQuote_Idea;User ID=sa;Password=1433Insert!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>